<!doctype html>
<html lang="en" th:replace="~{baseFragment :: parent(~{::.title}, ~{::#content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title class="title">About page</title>
</head>
<body>
<div id="content" class="custom">
    <h1 class="text-center text-8xl">About page</h1>
    <h3>Tailwind CSS Navbar - Flowbite
        The navbar component can be used to show a list of navigation links positioned on the top side of your page
        based on multiple layouts, sizes, and dropdowns.

        Get started with the responsive navbar component from Flowbite to quickly set up a navigation menu for your
        website and set up the logo, list of pages, CTA button, search input, user profile options with a dropdown, and
        more.
    </h3>
</div>
</body>
</html>
